<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Vier{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <ul>
                {% for entry in array %}
                    <li>[{{ entry|join(',') }}]</li>
                {% endfor %}
            </ul>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
