<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Een{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            {% for number in numbers %}
                <li>{{ number }}</li>
            {% endfor %}
        {% endblock %}
    </body>
</html>
