<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Drie{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            Er zou nu een mail moeten worden gestuurd naar {{ email }} met wachtwoord {{ newPass }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
